{% extends 'base.html.twig' %}

{% block title %}Presta y Juega: Regístrate{% endblock %}

{% block body %}
    <h3>Únete a la comunidad de Presta y Juega<i class="fas fa-dice text-warning ms-3"></i></h3>
    {{ form_start(registerForm) }}
    {{ form_row(registerForm.name, { 'label': 'Nombre' }) }}    
    {{ form_row(registerForm.surname, { 'label': 'Apellido(s)' }) }}    
    {{ form_row(registerForm.province, { 'label': 'Provincia' }) }}    
    {{ form_row(registerForm.email, { 'label': 'E-mail' }) }}
    {{ form_widget(registerForm) }}
    <button class="btn btn-warning mt-4" type="submit">Crear cuenta</button>
    {{ form_end(registerForm) }}
{% endblock %}