{% extends "base.html.twig" %}

{% block title %} Presta y Juega: Editando {{game.name}} {% endblock %}

{% block body %}
    <h3>{{game.name}}</h3>
    {{ form_start(editGameForm) }}
    {{ form_widget(editGameForm) }}
    <button class="btn btn-warning mt-4" type="submit">Guardar</button>
    {{ form_end(editGameForm) }}
{% endblock %}
