{% extends "base.html.twig" %}

{% block title %}
	Presta y Juega:
	{{game.name}}
{% endblock %}

{% block body %}
	<section class="d-flex justify-content-center align-items-center">
		<div style="background-image: url('{{game.image}}'); background-position: center; background-size: 100%; background-repeat: no-repeat; width: 260px; height: 260px" class="border border-1 me-5"></div>
		<div>
			<h3>{{game.name}}</h3>
			<dl class="row">
				<dt class="col-sm-3">Número de jugadores</dt>
				<dd class="col-sm-9">
					{% if game.minPlayers and game.maxPlayers %}
						De
						{{game.minPlayers}}
						a
						{{game.maxPlayers}}
					{% elseif game.minPlayers and not game.maxPlayers %}
						A partir de
						{{game.minPlayers}}
					{% elseif not game.minPlayers and game.maxPlayers %}
						Hasta
						{{game.maxPlayers}}
					{% elseif not game.minPlaytime and not game.maxPlaytime %}
						-
					{% elseif game.minPlayers == game.maxPlayers %}
						{{game.maxPlayers}}
					{% endif %}
				</dd>
				<dt class="col-sm-3">Tiempo de juego</dt>
				<dd class="col-sm-9">
					{% if game.minPlaytime is same as(game.maxPlaytime) %}
						{{game.maxPlaytime}}
						minutos
					{% elseif game.minPlaytime and not game.maxPlaytime %}
						Mínimo
						{{game.minPlaytime}}
						minutos
					{% elseif not game.minPlaytime and game.maxPlaytime %}
						Máximo
						{{game.maxPlaytime}}
						minutos
					{% elseif not game.minPlaytime and not game.maxPlaytime %}
						-
					{% elseif game.minPlaytime and game.maxPlaytime %}
						Entre
						{{game.minPlaytime}}
						y
						{{game.maxPlaytime}}
						minutos
					{% endif %}
				</dd>
				<dt class="col-sm-3">Edad mínima</dt>
				<dd class="col-sm-9">
					{% if game.minAge %}
						{{game.minAge}}
						años
					{% else %}
						-
					{% endif %}
				</dd>
				<dt class="col-sm-3">Editorial</dt>
				<dd class="col-sm-9">
					{% if game.publisher %}
						{{game.publisher}}
					{% else %}
						-
					{% endif %}
				</dd>
				<dt class="col-sm-3">Año de publicación</dt>
				<dd class="col-sm-9">
					{% if game.yearPublished %}
						{{game.yearPublished}}
					{% else %}
						-
					{% endif %}
				</dd>
			</dl>
			{% if app.user == game.owner %}
				<a href="{{path('editGame', {'id': game.id})}}" class="btn btn-outline-warning">Editar</a>
				<a href="{{path('deleteGame', {'id': game.id})}}" class="btn btn-outline-warning">Eliminar</a>
				<!-- TODO: Añadir condición para que Prestar solo salga si hay requests activas de este juego -->
				<a href="#" class="btn btn-warning">Prestar</a>
			{% elseif not app.user %}
				<div class="btn btn-outline-warning">
					Loguéate para pedir este juego
				</div>
			{% else %}
				<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#requestSent">
					Solicitar juego
				</button>
			{% endif %}
			<div class="modal fade" id="requestSent" tabindex="-1" aria-labelledby="requestSentLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="requestSentLabel">Juego solicitado</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{{game.owner.name}}
							recibirá la petición de que te interesa su
							{{game.name}}.																																			Si le interesa alguno de tus juegos, podréis intercambiarlos.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Vale</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
