{% extends "base.html.twig" %}

{% block body %}
	{% for message in app.flashes('registerSuccessful') %}
		<h5 class="text-center mb-5">{{ message }}</h5>
	{% endfor %}
	<section>
		<h4 class="text-center mb-5">Aquí tienes algunos juegos que te pueden interesar</h4>
		<div class="d-flex flex-wrap justify-content-center">
			{% for game in games %}
				<div class="card mx-3 mb-3" style="width: 20rem;">
					<div style="background-image: url('{{game.image}}'); background-position: center; background-size: 75%; background-repeat: no-repeat; width: 100%; height: 260px"></div>
					<div class="card-body text-center">
						<h5 class="card-title">{{game.name}}</h5>				
						{% if game.owner == app.user %}
						<a href="{{path('gameView', {'id': game.id})}}" class="btn btn-outline-warning">Detalles</a>
						{% else %}
						<a href="{{path('gameView', {'id': game.id})}}" class="btn btn-outline-warning">Me interesa</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
